.apresentacao {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 90px;

}

.texto-principal {

    display: inline-block;
    

    font-size: 28px;
    width: 90%;
}

.texto-principal span {

    font-size: 24px;
    color: var(--font-azul);
}

.avatar-img {

    width: 350px;
    height: 290px;
}

.botao-apresentacao {
    
    justify-content: center;
    align-items: center;
    
    padding: 8px 16px;
    font-weight: 900;
    font-size: 12px;
    line-height: 8px;
    border: 2px solid var(--font-azul);
    color: var(--font-cinza);
}
