.navbar {
    width: 100%;
    height: 48px;
}

.menu-mobile {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 8px;
}

.nome-navbar {

    font-weight: 700;
    font-size: 20px;
    line-height: 21px;

}

.menu-navbar {
    width: 32px;
    height: 32px;
}

.menu-lateral {

    position: absolute;

    margin-top: -10000px;

    height: 70vh;
    width: 100%;
    background: #24272c;

    transition: 1s;
}

.menu-lateral div {
    display: flex;
    flex-direction: column;

    padding: 15% 30%;
}

.menu-lateral-link {

    display: flex;

    margin: 10px;

    font-size: 24px;

}

.menu-lateral-link span {
    color: var(--font-roxo);
}

.menu-lateral-ativo {

    margin-top: 10px;
    transition: 1s;
}