.skills {

    display: inline-block;
    width: 100%;
    margin: 6rem 0;
}

.topicos {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95%;
    margin: 30px 0;
    gap: 10px;
    font-size: 24px;
}

.topicos span {
    color: var(--font-azul);
}

.topicos div {
    display: inline-block;
    background: linear-gradient(-30deg, #3e9bf1, #1ebe28, #175f20, #23d5ab);
    background-size: 400% 400%;
    animation: changeBackgroundColor 6s ease infinite;
    height: 3px;
    width: 40%;
    border-radius: 2px;
} 

.topicos h3 {
    display: inline-block;
    margin-top: 40px;
    font-size: 18px;
}

.meus-skills {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;

    

}

.img-skill {

    width: 3rem;
    height: 3rem;
    opacity: .6;

}
