.skills {
    margin: 5rem 0 5rem 1rem;
}
.topicos {

    margin: 2rem 0;
}

.topicos span {
    color: var(--font-azul);
}

.img-github {
    width: 10.5rem;
    border-radius: 50%;
}

.sobre-wrap {
    display: flex;
    flex-wrap: wrap;
}

.sobre-wrap p {

    margin-top: 20px;

    width: 350px;
    opacity: .6;
}

.topicos div {

        width: 70%;
        background: linear-gradient(-30deg, #3e9bf1, #1ebe28, #175f20, #23d5ab);
        background-size: 400% 400%;
        height: 3px;
        border-radius: 2px;

}

.skills h4 {
    font-size: 1rem;
    margin: 2rem 0 1.5rem 0;
    opacity: .6;
}

.ler-mais{
    position: absolute;
    left:  -1000vw;
}

.ler-mais-ativo {
    position: inherit;
    left: 0;
}

.btn-ler-mais-inativo {
    position: absolute;
    left:  -1000vw;
}