@import url(./navbar.css);
@import url(./apresentação.css);
@import url(./footer-mobile.css);
@import url(./skills.css);

:root {
    --bg-color: #282C33;
    --font-branco: #FFFFFF;
    --font-cinza: #ABB2BF;
    --font-azul: #03d2f7;
}

html {
    
    font-family: 'Fira Code', monospace;
    background: linear-gradient( to bottom, #525252, #414141, #313131, #321D2F );
    color: var(--font-branco);
}