@import url(./navbar.css);
@import url(./apresentação.css);

:root {
    --bg-color: #282C33;
    --font-branco: #FFFFFF;
    --font-cinza: #ABB2BF;
    --font-azul: #50B7D3;
}

html {
    font-family: 'Fira Code', monospace;
    background: var(--bg-color);
    color: var(--font-branco);
}