@import url(./navbar.css);
@import url(./apresentação.css);
@import url(./sobre-skills.css);
@import url(./footer.css);
@import url(./projetos.css);
@import url(./contatos.css);
@import url(./displays.css);

:root {
    --bg-color: #000000;
    --nav-color: #0516250c;
    --font-branco: #FFFFFF;
    --font-cinza: #ABB2BF;
    --font-azul: #03d2f7;
    --gradient: linear-gradient(#6DB193, #295F4E);

}

body {
    background: #000000;
    color: var( --font-branco);
}

header {
    margin-bottom: 90px;
}

.apresentação, .skills, .projetos, .contatos {
    margin-bottom: 15rem;
}