@import url(./navbar.css);
@import url(./apresentação.css);
@import url(./footer-mobile.css);
@import url(./skills.css);

:root {
    --bg-color: #282C33;
    --font-branco: #FFFFFF;
    --font-cinza: #ABB2BF;
    --font-azul: #03d2f7;
}

html {
    
    font-family: 'Fira Code', monospace;
    background: linear-gradient( to bottom, #525252, #414141, #313131, #374a50 );
    color: var(--font-branco);
}


/* Efeito remover após finalizar*/
.effect {

    width: 30%;
    background: linear-gradient(-30deg, #3e9bf1, #1ebe28, #175f20, #23d5ab);
    margin-top: 2px;
    background-size: 400% 400%;
    height: 3px;
    border-radius: 2px;
    
}